<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="SHSA is a highschool soccer league in Shanghai, China." />
		<title>SHSA | Shanghai Highschool Soccer Association</title>
    <link rel="stylesheet" href="/css/decolines.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <link rel="stylesheet" href="/css/media-connect.css" />
    <link rel="stylesheet" href="/css/menu.css" />
		<script src="/scripts/jquery-3.2.1.js"></script>
		<script src="/scripts/bootstrap.min.js"></script>
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div class="nav">
			<style>
				.nav-logo > a > img{
					height:50px;
					width:auto;
				}
				.nav-logo{
					margin-top:25px;
				}
			</style>
      <div class="nav-logo">
        <a href="/"><img src="/img/logonav.png" /></a>
      </div>
      <div class="nav-links">
        <a href="/gallery">Memories</a>
        <a href="/team">Our Team</a>
        <a href="/connect">Connect</a>
        <a href="/comics">SHSA Comics</a>
      </div>
      <div class="menu-button">
        <span class="one-menu"></span>
        <span class="one-menu"></span>
        <span class="one-menu"></span>
      </div>
    </div>
		<div class="contain-menu">
      <div class="contain-menu-contain">
        <div class="contain-menu-link">
          <a href="/gallery">Memories</a>
        </div>
        <div class="contain-menu-link">
          <a href="/team">Our Team</a>
        </div>
        <div class="contain-menu-link">
          <a href="/connect">Connect</a>
        </div>
        <div class="contain-menu-link">
          <a href="/comics">SHSA Comics</a>
        </div>
      </div>
    </div>

		<div id="body">

			{{{body}}}
		</div>
		{{{isAdminEditorJS user}}}
		<div class="footer">
			<!-- <div class="contain-social-media">
				<a class="wechat-contain"><i class="fa fa-weixin fa-wechat"></i></a>
			</div> -->
			<p>Copyright © 2017 Shanghai Highschool Soccer Association. All rights reserved.</p>
		</div>
		<style>
		.row{
			width:100%;
		}
		</style>
		<script src="/scripts/anime.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/jq.js"></script>
	</body>
</html>
