{{!< default}}

<div class="contain">
<style>
	.full-screen {
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	}
	#mycarousel{
		position: absolute;
    height: 100%;
    width: 100%;
		z-index:-1;
		top:0;
	}
	/*.main-contain{
		top:-100px;
		opacity:1;
		padding-top:100px;
	}*/
</style>
<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item">
        <img src="/img/bgimg.jpg" data-color="lightblue" alt="First Image">
    </div>
    <div class="item">
        <img src="/img/bgimg2.jpg" data-color="firebrick" alt="Second Image">
    </div>
    <div class="item">
        <img src="/img/bgimg3.jpg" data-color="violet" alt="Third Image">
    </div>
  </div>
</div>
<script>
	var $item = $('.carousel .item');
	var $wHeight = $(window).height();
	$item.eq(0).addClass('active');
	$item.height($wHeight);
	$item.addClass('full-screen');

	$('.carousel img').each(function() {
	var $src = $(this).attr('src');
	var $color = $(this).attr('data-color');
	$(this).parent().css({
		'background-image' : 'url(' + $src + ')',
		'background-color' : $color
	});
	$(this).remove();
	});
	$(window).on('resize', function (){
	$wHeight = $(window).height();
	$item.height($wHeight);
	});

	$('.carousel').carousel({
	interval: 6000,
	pause: "false"
	});
	$('#memories-link').click(function(){
	  window.location.pathname = '/gallery';
	});
	$('#team-link').click(function(){
	  window.location.pathname = '/cn/team';
	});
	$('#connect-link').click(function(){
	  window.location.pathname = '/cn/connect';
	});
	$('#videos-link').click(function(){
	  window.location.pathname = '/cn/videos';
	});
</script>


	<div class="logo-container">
		<div class="blue-tint"></div>
		<h1 class="logo-heading"><strong class="emphasize-letters">S</strong>HANGHAI <strong class="emphasize-letters">H</strong class="emphasize-letters">IGH-SCHOOL</h1>
		<h1 class="logo-heading secondline"><strong class="emphasize-letters">S</strong class="emphasize-letters">OCCER <strong class="emphasize-letters">A</strong>SSOCI<br />ATION</h1>
	</div>
	<div class="contain-links">
		<div class="white-tint"></div>
		<ul>
			<li class="link-li first-link">
				<div id="memories-link" class="one-link">
					<h2 class="link-label">MEMORIES</h2>
				</div>
			</li>
			<li class="link-li second-link">
				<div id="team-link" class="one-link">
					<h2 class="link-label">OUR TEAM</h2>
				</div>
			</li>
			<li class="link-li third-link">
				<div id="connect-link" class="one-link">
					<h2 class="link-label">CONNECT</h2>
				</div>
			</li>
			<li id="videos-link" class="link-li fourth-link">
				<div class="one-link">
					<h2 class="link-label fourth-label">SHSA VIDEOS</h2>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="main-contain">
	<img class="mission-img" src="/img/logo.png" />
	{{#each missionstatement}}
		<div class="mission-statement-contain">
			<h1 class="mission-statement headings mission-statement-h1">{{missionTitle}}</h1>
			<p class="mission-statement mission-statement-p">
				{{text}}
			</p>
		</div>
	{{/each}}
	<div class="what-we-do-contain">
		<h1 class="headings what-we-do-h1">What we do</h1>
		<div class="what-we-do-row row">
			{{#each whatwedo}}
				<div class="col-what-we-do col-md-4">
					<h2 class="what-we-do-h2">{{title}}</h2>
					<p class="what-we-do-des">
						{{text}}
					</p>
				</div>
			{{/each}}
		</div>
	</div>
</div>
<script>
	var gallery = false;
</script>
