<link rel="stylesheet" href="/css/connect.css" />
<link rel="stylesheet" href="/css/contact.css" />
<script type="text/javascript" src="/socket.io/socket.io.js"></script>


<div class="contain">
<style>
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mycarousel{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    top:0;

/*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;

    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;*/
}
</style>
<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item">
        <img src="/img/bgimg.jpg" data-color="lightblue" alt="First Image">
    </div>
    <div class="item">
        <img src="/img/bgimg2.jpg" data-color="firebrick" alt="Second Image">
    </div>
    <div class="item">
        <img src="/img/bgimg3.jpg" data-color="violet" alt="Third Image">
    </div>
  </div>
</div>

<script>
  var $item = $('.carousel .item');
  var $wHeight = $(window).height();
  $item.eq(0).addClass('active');
  $item.height($wHeight);
  $item.addClass('full-screen');

  $('.carousel img').each(function() {
  var $src = $(this).attr('src');
  var $color = $(this).attr('data-color');
  $(this).parent().css({
    'background-image' : 'url(' + $src + ')',
    'background-color' : $color
  });
  $(this).remove();
  });
  $(window).on('resize', function (){
  $wHeight = $(window).height();
  $item.height($wHeight);
  });

  $('.carousel').carousel({
  interval: 6000,
  pause: "false"
  });
</script>

   <div class="logo-container">
     <div class="blue-tint"></div>
     <h1 class="logo-heading"><strong class="emphasize-letters">S</strong>HANGHAI <strong class="emphasize-letters">H</strong class="emphasize-letters">IGH-SCHOOL</h1>
     <h1 class="logo-heading secondline"><strong class="emphasize-letters">S</strong class="emphasize-letters">OCCER <strong class="emphasize-letters">A</strong>SSOCI<br />ATION</h1>
   </div>
    <ul class="main-link-ul">
        <div class="one-link main-link">
          <h2 class="link-label">CONNECT</h2>
        </div>
    </ul>
</div>
<div class="main-contain">
  <div class="container">
    <div class="contacts-contain">
      <h1>Do you have any questions?</h1>
      <p class="contact-des">This form is especially for you if you are someone who wants to join the team or if you want to become a part of our team.</p>
      <div class="row">
        <div class="col-md-6">
          <form id="emailContactForm">
            <input name="nameInputContact" class="text-input" type="text" placeholder="Your name">
            <input name="emailInputContact" class="text-input" type="text" placeholder="youremail@gmail.com">
            <input name="subjectInputContact" class="text-input" type="text" placeholder="Why are you contacting us?">
            <h4>Your message</h4>
            <textarea name="messageInputContact" rows="6" class="text-input" placeholder="What do you want to say to us?"></textarea>
            <button id="submitContactFormButton" class="submit-button" type="submit">Submit</button>
          </form>
          <div class="contact-empty">
            <h4 style="width:100%;text-align:center">Message was successfully sent.</h4>
          </div>
        </div>
        <div class="col-md-6">
          <form>
            <div class="email-contact">
              <h3>Alternatively, scan this QR code to join our WeChat group!</h3>
              <img style="width:200px; height:200px; display:block; margin:auto; margin-top:50px;" src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fweixin.qq.com%2Fg%2FAXC_0LjGfyqSiJlU&chs=180x180&choe=UTF-8&chld=L|2' rel='nofollow' alt='qr code'><a href='http://www.qrcode-generator.de' border='0' style='cursor:default'  rel='nofollow'></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/jq-connect.js"></script>
<script>
	var gallery = false;
</script>
<style>
  .main-link-ul{
    margin:0 !important;
  }
</style>
<script>
var socket = io();
$('#emailContactForm').on('submit', function(e){
  e.preventDefault();
  socket.emit('contact-form-submit',{
    name: $('[name=nameInputContact]').val(),
    email:$('[name=emailInputContact]').val(),
    subject: $('[name=subjectInputContact]').val(),
    message: $('[name=messageInputContact]').val()
  });
});
socket.on('contact-form-processing', function(){
  $('#submitContactFormButton').text('Processing...');
  $('#submitContactFormButton').css('color','#dd5e5e');
  $('#submitContactFormButton').css('background-color','white');
  $('#submitContactFormButton').css('border-color', '#dd5e5e');
  $('#submitContactFormButton').attr('disabled','disabled');
});
socket.on('contact-form-success', function(){
  $('#emailContactForm').css('display','none');
  $('.contact-empty').toggleClass('contact-done');
});
socket.on('contact-form-failure', function(){
  alert('Submission failed.');
  $('#submitContactFormButton').css('color','white');
  $('#submitContactFormButton').css('background-color','#dd5e5e');
  $('#submitContactFormButton').removeAttr('disabled');
  $('#submitContactFormButton').text('Submit');
});


</script>
