.container{
  padding-top:140px;
}

.gallery-name{
  width:100%;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight:300;
  color:#2e4a72;
  font-size:25px;
  opacity:0.85;
  margin-bottom:30px;
}
.gallery-selected-contain{
  width:80%;
  display:block;
  height:320px;
  margin:auto;
}
.selected-img{
  width:680px;
  height:400px;
  display:block;
  margin:auto;
}
.selected-img-img{
  max-width:680px;
  max-height:400px;
  display:block;
  margin:auto;
}
.select-one-contain{
  position:relative;
  width:130px;
  height:30px;
  display:block;
  margin:auto;
  margin-top:30px;
  margin-bottom:50px;
}
.go-gallery-button{
  display:inline-block;
  width:18px;
  height:18px;
  padding:0;
  border:none;
  background-color:white;
}
.go-gallery-left img{
  width:18px;
  margin-bottom:8px;
  height:18px;
  transform:rotate(180deg);

}
.go-gallery-right img{
  margin-bottom:8px;
  width:18px;
  height:18px;
}
.select-p-contain{
  margin:8px;
  opacity:0.8;
  position:relative;
  display:inline;
  height:1000px;
}
.index-p{
  line-height: 30px;
  display:inline;
  color:black;
  font-size:20px;
}
.li-gallery-thumbnails{
  margin-right:30px;
  margin-bottom:30px;
}
.contain-gallery-thumbnails{
  width:940px;
  height:760px;
  display:block;
  margin:auto;
}
.one-thumbnail{
  width:200px;
  height:130px;
  display:block;
  margin:auto;
}
.currently-selected-thumb{
  box-shadow: 0 0 10px 3px #2e4a72;
}
/*{{#if heroImage}}
<div class="col-sm-4 col-md-4">
  <img src="{{cloudinaryUrl heroImage width='680' height='380'}}">
</div>
{{/if}}*/
/*<!-- <div>
  <img class="selected-img" src="{{cloudinaryUrl}}">
</div> -->*/
